<!DOCTYPE html>
<html lang="pt-br" ng-app="StarterApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width"> 
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="plugins/angular-sweet-alert/sweetalert.css">
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/cadastrar-produto.css">
        <link href="plugins/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet"> 
    </head>
    <body layout="row" ng-controller="AppCtrl as ctrl">
        <div ng-include="'header.html'"></div>
        <div layout="column" class="relative" layout-fill role="main">
            <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>

            <md-content flex md-scroll-y  id="conteudo">
                <md-card class="principal md-whiteframe-6dp">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Cadastrar Produto</span>
                            <span class="md-subhead">Use este formulário para cadastrar novos produtos no sistema.</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                    </md-card-title>

                    <!--Início do Formulário-->
                    <div id="formulario">
                        <header id="form-header">
                            <h2>Novo Produto </h2><span class="today-date"><i class="fa fa-calendar"></i>  {{date| date:'dd/MM/yyyy'}}</span>
                        </header>
                        <form name="formularioDados">
                            <div id="form-body">
                                <div id="tab1-content">
                                    <div layout="row" style="margin-top:10px;">
                                        <md-input-container flex="50" class="md-accent">
                                            <label>ISBN</label>
                                            <input placeholder="ex: 85-359-0277-5" name="isbn" ng-model="dadosProduto.isbn" ng-required="true" ng-pattern="/(ISBN[-]*(1[03])*[ ]*(: ){0,1})*(([0-9Xx][- ]*){13}|([0-9Xx][- ]*){10})$/">
                                            <div ng-messages="formularioDados.isbn.$error" ng-if="formularioDados.$submitted || formularioDados.isbn.$touched">
                                                <div ng-message="required">O campo ISBN é de preenchimento obrigatório.</div>
                                                <div ng-message="pattern">Por favor informar um número de ISBN válido.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="50" class="md-accent">
                                            <label>Título</label>
                                            <input name="titulo" ng-model="dadosProduto.titulo" ng-required="true">
                                            <div ng-messages="formularioDados.titulo.$error" ng-if="formularioDados.$submitted || formularioDados.titulo.$touched">
                                                <div ng-message="required">O campo título é de preenchimento obrigatório.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="row">
                                        <md-input-container flex="50" class="md-accent">
                                            <label>Autor</label>
                                            <input name="autor" ng-model="dadosProduto.autor" ng-required="true" ng-pattern="/^([ \u00c0-\u01ffa-zA-Z'\-])+$/">
                                            <div ng-messages="formularioDados.autor.$error" ng-if="formularioDados.$submitted || formularioDados.autor.$touched">
                                                <div ng-message="required">O campo autor é de preenchimento obrigatório.</div>
                                                <div ng-message="pattern">Por favor informar um valor válido para o campo Autor.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="50" class="md-accent">
                                            <label>Ano de Publicação</label>
                                            <input name="anoPublicacao" ng-model="dadosProduto.anoPublicacao" ng-required="true" ng-pattern="/^(19|20)\d{2}$/">
                                            <div ng-messages="formularioDados.anoPublicacao.$error" ng-if="formularioDados.$submitted || formularioDados.anoPublicacao.$touched">
                                                <div ng-message="required">O campo ano de publicação é de preenchimento obrigatório.</div>
                                                <div ng-message="pattern">Por favor informar um valor válido para o campo autor.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="row">
                                        <md-input-container flex="33" class="md-accent">
                                            <label>Editora</label>
                                            <input name="editora" ng-model="dadosProduto.editora" ng-required="true">
                                            <div ng-messages="formularioDados.editora.$error" ng-if="formularioDados.$submitted || formularioDados.editora.$touched">
                                                <div ng-message="required">O campo editora é de preenchimento obrigatório.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex="25" class="md-accent">
                                            <label>Preço</label>
                                            <input type="number" name="preco" ng-model="dadosProduto.preco" ng-required="true">
                                            <span class="unit">£</span>
                                            <div ng-messages="formularioDados.preco.$error" ng-if="formularioDados.$submitted || formularioDados.preco.$touched">
                                                <div ng-message="required">O campo preço é de preenchimento obrigatório.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="33" class="md-accent">
                                            <label>Quantidade</label>
                                            <input type="number" name="quantidade" ng-model="dadosProduto.quantidade" ng-pattern="/^[1-9]\d*$/"
           ng-maxlength="9" ng-required="true">
                                            <div ng-messages="formularioDados.quantidade.$error" ng-if="formularioDados.$submitted || formularioDados.quantidade.$touched">
                                                <div ng-message="required">O campo quantidade é de preenchimento obrigatório.</div>
                                                <div ng-message="pattern">Valor informado é muito pequeno. </div>
                                                <div ng-message="maxlength">Valor informado é muito grande. </div>
                                            </div>
                                        </md-input-container>
                                    </div>

                                    <div class="form-actions noborder">             
                                        <md-button class="md-raised"><i class="material-icons" style="font-size: 1.4em">close</i> Cancelar</md-button>
                                        <md-button class="md-raised md-primary" ng-click="validarDadosAutenticacao(dadosAutenticacao)"><i class="material-icons" style="font-size:1.3em;">save</i> Salvar</md-button>
                                    </div>
                                </div>
                            </div>
                        </form>              
                    </div>
                </md-card>
            </md-content>
        </div>
        <script src="plugins/jquery/jquery-3.1.1.min.js"></script>
        <!-- Angular Material Dependencies -->
        <script src="plugins/angular/angular.min.js"></script>
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="node_modules/angular-aria/angular-aria.min.js"></script>
        <script src="node_modules/angular-messages/angular-messages.min.js"></script>
        <script src="node_modules/angular-material/angular-material.min.js"></script>
        <script src="node_modules/angular-material-icons/angular-material-icons.min.js"></script> 
        <script src="plugins/cidade-estado/cidades-estados.js"></script> 
        <script src="plugins/angular-sweet-alert/sweetalert.min.js"></script>
        <script src="scripts/cadastrar-produto.js"></script>
    </body>
</html>
