<!DOCTYPE html>
<html lang="pt-br" ng-app="StarterApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width"> 
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="plugins/angular-sweet-alert/sweetalert.css">
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/carrinho-compras.css">
        <link rel="stylesheet" href="plugins/font-awesome-4.6.3/css/font-awesome.min.css"> 
        <link rel="stylesheet" href="plugins/materialize/css/materialize.css">
    </head>
    <body layout="row" ng-controller="AppCtrl" data-ng-init="init()" class="ng-cloak">
        <div ng-include="'header.html'"></div>

    <md-content flex md-scroll-y id="conteudo">
        <md-card class="principal md-whiteframe-6dp">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Carrinho</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <p ng-show="carrinho == null || carrinho.length === 0">Não há nenhum produto inserido no carrinho! <a href="index.html" alt="Ir para a página inicial. ">Clique aqui</a> para adicionar produtos no carrinho. </p>
            <!-- Início da exibiçãodos produtos do carrinho -->
            <table class="tabela-produtos highlight bordered" ng-hide="carrinho == null || carrinho.length === 0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Livro</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="produto in carrinho track by produto.id">
                        <td><img ng-src="http://67.205.164.145/{{produto.image}}" class="img-livro"/></td>
                        <td>{{produto.name}}</td>
                        <td><b>R$:</b> {{produto.price | currency:"R$"}}</td>
                        <td>
                            <section class="secao-qtd-produtos animate-show-hide">
                                <md-button class="md-icon-button botao-retirar md-raised md-primary left md-icon-button" ng-click="alterarQtdProdutos('remover', produto)">
                                    <i class="material-icons">remove</i>
                                </md-button>
                                <div class="qtd-produtos" ng-model="desiredQuantity">{{produto.desiredQuantity}}</div>
                                <md-button class="md-icon-button botao-adicionar md-raised md-primary left md-icon-button" ng-click="alterarQtdProdutos('adicionar', produto)">
                                    <i class="material-icons">add</i>
                                </md-button>
                            </section>
                        </td>
                        <td>
                <md-button class="md-icon-button" ng-click="removerProduto(produto)">
                    <i class="material-icons botao-remover">close</i>
                </md-button>
                </td>
                </tr>  
                    <tr class="total-carrinho">
                        <td><strong>Total:</strong></td>
                        <td></td>
                        <td><b>R$:</b> {{atualizarTotal('preco') | currency:"R$"}}</td>
                        <td>{{atualizarTotal('quantidade')}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table>
                
            </table>
            <!-- Fim da exibição dos produtos do carrinho -->

            <md-button class="md-raised md-primary finalizar-btn" ng-click="showModal()">
                Confirmar
            </md-button>
        </md-card>
                <div ng-include="'footer.html'"></div>
    </md-content>

    <script src="plugins/jquery/jquery-3.1.1.min.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="plugins/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-material-icons/angular-material-icons.min.js"></script> 
    <script src="scripts/scripts.js"></script>
    <script src="scripts/carrinho-compras.js"></script>
    <script src="plugins/loadingoverlay/loadingoverlay.js"></script>
</body>
</html>