<md-sidenav md-component-id="app-side-left" layout="column" class="md-whiteframe-z1" class="ng-cloak">
    <md-toolbar layout="row" class="md-toolbar-tools md-hue-1">
        <md-button hide-gt-sm class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav('app-side-left')" style="margin-right: -8px;">
            <md-icon>menu</md-icon>
        </md-button>
        <h2 style="display: inline;">&nbsp;Gerenciar Site</h2>
    </md-toolbar>
    <!-- BEGIN LEFT SIDE NAVIGATION -->
    <md-content role="navigation">
        <ul class="docs-menu">
            <li class="parent-list-item">
            <md-list id="menu-mobile">
                <md-subheader>Site</md-subheader>
                <md-list-item>
                    <a href="index.html">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <i class="fa fa-home fa-2x"></i>
                            </div>
                            <div class="inset">Página Inicial</div>
                        </md-item-content> 
                    </a>
                </md-list-item>
                <md-list-item>
                    <a href="carrinho-compras.html">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <i class="fa fa-shopping-cart fa-2x"></i>
                            </div>
                            <div class="inset">Carrinho de Compras</div>
                        </md-item-content> 
                    </a>
                </md-list-item>
                <md-list-item>
                    <a href="rastrear-pedidos.html">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <i class="fa fa-file-text-o fa-2x"></i>
                            </div>
                            <div class="inset">Acompanhar Pedidos</div>
                        </md-item-content> 
                    </a>
                </md-list-item>
                <md-subheader ng-hide="clienteLogado">Gerenciamento</md-subheader>
                <md-list-item style="margin-top: 2px;" ng-hide="clienteLogado">
                    <a href="editar-produtos.html">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <i class="material-icons">mode_edit</i>
                            </div>
                            <div class="inset">Editar Produtos</div>
                        </md-item-content> 
                    </a>
                </md-list-item>
                <md-subheader ng-hide="clienteLogado">Cadastro</md-subheader>
                <md-list-item>
                    <a href="cadastrar-produto.html" ng-hide="clienteLogado">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <i class="fa fa-cart-plus fa-2x"></i>
                            </div>
                            <div class="inset">Cadastrar Produto</div>
                        </md-item-content> 
                    </a>
                </md-list-item>
                <md-list-item>
                    <a href="cadastrar-usuario.html" ng-hide="clienteLogado">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <i class="fa fa-user-plus fa-2x"></i>
                            </div>
                            <div class="inset">Cadastrar Usuário</div>
                        </md-item-content>
                    </a>
                </md-list-item>
            </md-list>
            </li>
        </ul>
    </md-content>
</md-sidenav>
<!-- END LEFT SIDE NAVIGATION -->
<div layout="column" layout-fill flex>
    <!-- BEGIN TOP TOOLBAR -->
    <md-toolbar layout="row" class="md-toolbar-tools md-hue-2" layout-align="left center" style="padding-right: 35px;">
        <md-button hide-gt-sm class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav('app-side-left')">
            <md-icon>menu</md-icon>
        </md-button>
        <!-- BEGIN LOGO BUTTON -->
        <md-button layout="row" class="md-toolbar-tools" layout-align="left center" href="#" style="width: 135px;">
            <md-tooltip>Ir para a página inicial</md-tooltip>
            <a href="index.html" alt="Ir para a página inicial. "><h2><span class="capitalize">Pineapple</span></h2></a>
        </md-button>

        <!-- START TOP NAVIGATION -->
        <div id="topNav" hide show-gt-sm layout="row">
            <md-menu-bar>
                <md-menu>
                    <md-button onclick="javascript:window.location.href = 'index.html';" class="md-primary capitalize"><span class="md-alt-text">Página Inicial</span></md-button>
                </md-menu>
                <md-menu id="menu-desktop" ng-hide="clienteLogado">
                    <button ng-click="$mdOpenMenu()">Cadastros</button>
                    <md-menu-content>
                        <a href="cadastrar-produto.html">
                            <md-menu-item class="md-indent">
                                <md-button>
                                    <span class="md-alt-text">Cadastrar Produto</span>
                                </md-button>
                            </md-menu-item>
                        </a>
                        <a href="cadastrar-usuario.html">
                            <md-menu-item class="md-indent">
                                <md-button>
                                    <span class="md-alt-text">Cadastrar Usuário</span>
                                </md-button>
                            </md-menu-item>
                        </a>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <md-button onclick="javascript:window.location.href = 'rastrear-pedidos.html';" class="md-primary capitalize"><span class="md-alt-text">Acompanhar Pedidos</span></md-button>
                </md-menu>
                <md-menu ng-hide="clienteLogado">
                    <md-button onclick="javascript:window.location.href = 'editar-produtos.html';" class="md-primary capitalize"><span class="md-alt-text">Editar Produtos</span></md-button>
                </md-menu>
            </md-menu-bar>
        </div>
        <span flex></span>
        <a href="carrinho-compras.html" title="Ir para o carrinho de compras. " alt="Ir para o carrinho de compras. ">
            <md-button class="md-icon-button">
                <i class="material-icons">shopping_cart</i><span class="badge">{{qtdProdutosCarrinho}}</span>
            </md-button>
        </a>
        <md-menu id="menu-desktop" md-position-mode="target-right target">
            <md-button
                class="md-icon-button nav-botao-mais"
                aria-label="More"
                ng-click="$mdOpenMenu()">
                <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content>
                <a href="#">
                    <md-menu-item class="md-indent">
                        <md-button onclick="logout()">
                            <span class="md-alt-text"> &nbsp;Logout&nbsp; </span>
                        </md-button>
                    </md-menu-item>
                </a>
            </md-menu-content>
        </md-menu>
    </md-toolbar>
</div>
<script>
    function logout() {
        localStorage.setItem("funcionarioLogado", false);
        localStorage.setItem("clienteLogado", false);
        window.location.href = 'login.html';
    }
</script>