<!DOCTYPE html>
<html lang="pt-br" ng-app="StarterApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width"> 
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/rastrear-pedidos.css">
        <link rel="stylesheet" href="plugins/font-awesome-4.6.3/css/font-awesome.min.css"> 
        <link rel="stylesheet" href="plugins/materialize/css/materialize.css">
    </head>
    <body layout="row" ng-controller="AppCtrl" data-ng-init="init()" class="ng-cloak">
        <div ng-include="'header.html'"></div>

    <md-content flex md-scroll-y id="conteudo">
        <md-card class="principal md-whiteframe-6dp">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Acompanhar Pedidos</span>
                </md-card-title-text>
            </md-card-title>
            <div layout="row" layout-padding layout-wrap layout-fill class="padding" ng-if="vendaRealizada">
                <div class="alert alert-success" layout-padding layout-wrap layout-fill >

                    <div class="checkmark-circle">
                        <div class="background"></div>
                        <div class="checkmark draw"></div>
                    </div>
                    <span>Venda realizada com sucesso! O número de protocolo é <strong>{{codigoRastreamento}}.</strong></span>
                    <button type="button" class="md-icon-button close" data-dismiss="alert" aria-label="Close" ng-click="close()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>


            <form name="formularioDados">
                <div id="form-body">

                    <md-input-container class="md-accent">
                        <label>Código de acompanhamento</label>
                        <input name="nome" ng-model="codigoRastreamento" ng-required="true">
                        <div ng-messages="formularioDados.nome.$error" ng-if="formularioDados.$submitted || formularioDados.nome.$touched">
                            <div ng-message="required">O campo código de acompanhamento é de preenchimento obrigatório.</div>
                        </div>
                    </md-input-container>
                    <div class="form-actions noborder">             
                        <md-button class="md-raised" onclick="javascript:window.location.href = 'index.html'"><i class="material-icons" style="font-size: 1.4em">close</i> Cancelar</md-button>
                        <md-button type="submit" class="md-raised md-primary" ng-click="rastrearPedido(codigoRastreamento, formularioDados)"><i class="material-icons">search</i>Buscar</md-button>
                    </div>

                </div>
            </form>
            <table class="tabela-pedidos highlight bordered" ng-show="id">
                <thead>
                    <tr>
                        <th>Id do pedido</th>
                        <th>Data do pedido</th>
                        <th>Hora do pedido</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{id}}</td>
                        <td>{{created_at| date:'dd-MM-yyyy'}}</td>
                        <td>{{created_at| date:'HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
        </md-card>
        <div ng-include="'footer.html'"></div>
    </md-content>

    <script src="plugins/jquery/jquery-3.1.1.min.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="plugins/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-material-icons/angular-material-icons.min.js"></script> 
    <script src="scripts/scripts.js"></script>
    <script src="scripts/rastrear-pedidos.js"></script>
    <script src="plugins/loadingoverlay/loadingoverlay.js"></script>
</body>
</html>