
.principal > md-card-title{
    max-height: 80px;
}

md-card md-card-title {
    padding: 24px 0px 0px;   
}

md-card{
    padding-left:20px;
    padding-right:20px;
}

.tabela-produtos{
    margin-top:30px;
}

.img-livro{
    height:100px;
    width:auto;
}

.botao-remover{
    font-weight: bold;
    font-size:1.7em;
    color:red;
}

.secao-qtd-produtos{
    margin-left: auto;
    margin-right: auto;
}

.qtd-produtos{
    display: inline-block;
    position: relative;
    top: 8px;
    margin-right: 6px;
    margin-left: 6px;
    float: left;
}

.secao-action-buttons, .secao-qtd-produtos{
    margin-left: auto;
    margin-right: auto;
}

.total-carrinho{
    font-size:16px;
}