
.principal > md-card-title{
    max-height: 80px;
}

md-card md-card-title {
    padding: 24px 0px 0px;   
}

md-card{
    padding-left:20px;
    padding-right:20px;
}

.tabela-produtos{
    margin-top:30px;
}

.img-livro{
    height:100px;
    width:auto;
}

.botao-remover{
    font-weight: bold;
    font-size:1.7em;
    color:red;
}

.secao-qtd-produtos{
    margin-left: auto;
    margin-right: auto;
}

.qtd-produtos{
    display: inline-block;
    position: relative;
    top: 8px;
    margin-right: 6px;
    margin-left: 6px;
    float: left;
}

.secao-action-buttons, .secao-qtd-produtos{
    margin-left: auto;
    margin-right: auto;
}

.total-carrinho{
    font-size:16px;
}

.dialog-finalizar-compra{
    padding: 25px 25px 5px 25px;
}

.finalizar-btn{
    position: absolute;
    right: 1px;
    top: 18px;
    width:200px;
}

@media (max-width: 460px) {
    .finalizar-btn{
        relative: absolute;
        left: 15px;
        margin-top: 60px;
    } 
}

@media (max-width: 555px) {
    th, td, tr{
        font-size:12px;
    }
    
    .img-livro{
       height: 60px;
    }
    
    .md-icon{
        box-shadow: none !important;
        background: none !important;
    }
}

md-dialog ::-webkit-scrollbar {
    margin-right: -10px;
  width: 2px;
  height: 2px;
}
md-dialog ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
md-dialog ::-webkit-scrollbar-thumb {
  background: #408080;
  border: 0px none #ffffff;
  border-radius: 50px;
}
md-dialog ::-webkit-scrollbar-thumb:hover {
  background: #408080;
}
md-dialog ::-webkit-scrollbar-thumb:active {
  background: #408080;
}
md-dialog ::-webkit-scrollbar-track {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
md-dialog ::-webkit-scrollbar-track:hover {
  background: #c0c0c0;
}
md-dialog ::-webkit-scrollbar-track:active {
  background: #c0c0c0;
}
md-dialog ::-webkit-scrollbar-corner {
  background: transparent;
}
