.produto-image{
    display: block;
    margin: auto;
    margin-top: 5px;  
    max-width: 150px;
    max-height: 250px;
}
#produtos md-card-title-text span:hover{
    text-decoration: underline;
    cursor: pointer;
    transition:0.2s;
    color:#106cc8;
}

#produtos{
    align-items: center;
    justify-content: center;
}

#produtos .shopping-card-icon{
    position: relative;
    top: 7px;
}

#produtos md-card{
    width:250px;
    cursor:pointer;
}

#conteudo md-card-title{
    max-height: 70px;
}

.dialog-detalhes-livro{
    padding:25px 25px 5px 25px;
}

.dialog-img-livro{
    max-height: 400px;
    margin-right:25px;
    float:left;
}

.dialog-descricao-livro{
    font-size:1.1em;
    margin-right:25px;
}

.dialog-preco-livro{
    font-size:1.2em;
    font-weight: bold;
}
.dialog-preco-livro span{
    font-weight: normal;
}

@media (max-width: 960px) {
    .dialog-detalhes-livro{
        clear: both;
    }
    /*
    #produtos{
        display: block;
        margin-left:auto;
        margin-right:auto;
    }*/

    .dialog-img-livro{
        display: block;
        margin-left:auto;
        margin-right:auto;
        float: none;
    }

    .dialog-descricao-livro{
        float: none;
    }
}

.secao-qtd-produtos{
    margin-left: auto;
    margin-right: auto;
}

.qtd-produtos{
    display: inline-block;
    position: relative;
    top: -5px;
}

.secao-action-buttons, .secao-qtd-produtos{
    margin-left: auto;
    margin-right: auto;
}

#produtos > md-card > div{
    height: 310px;
}

#slides_control > div{
    height: 200px;
}
img{
    margin:auto;
    width: 400px;
}
#slides_control {
    position:absolute;
    width: 400px;
    left:50%;
    top:20px;
    margin-left:-200px;
}

#conteudo md-card.principal {
    min-height: 600px;
    position: relative;
    top: 60px;
    margin: 10px 30px 30px 30px;
}

@media (max-width: 960px) {
    .wrapper{
        width: 350px !important;
    }
}