/*Angular Material Sidenav*/
md-content.md-default-theme {
    /*background-color: #ededed;*/
    background-color: #fff;
}
md-divider{
    color: #ededed;
}
md-card {
    background-color: #fff;
    h2:first-of-type {
        margin-top: 0;
    }
}
md-toolbar {
    .md-button.md-default-theme {
        border-radius: 99%;
    }
}
h2 {
    font-weight: 400;
}

.user-avatar {
    border-radius: 99%;
}

md-toolbar{
    position: absolute;
    left: 0;
}

md-toolbar.md-toolbar-tools.md-hue-2.layout-align-start-center.layout-row{
    background:#2c3e50;
}

md-sidenav md-list{
    margin-top: -20px;
}

md-sidenav .fa-2x {
    font-size: 1.7em;
}

.collapsable{
    min-height: 20px;
    overflow: hidden;
}
.collapsable.collapsed{
    height: 0;
    min-height: 0;
}

md-sidenav md-item-content{
    cursor:pointer;
}

md-sidenav .fa{
    color:#444;
}

/*Conteúdo do site*/
#conteudo md-card.principal{
    min-height: 600px;
    position: relative;
    top: 84px;
    margin: 10px 30px 30px 30px;
}

#conteudo{
    background: #f3f3f3;
}

/*Formulário*/
#formulario{
    margin-left:auto;
    margin-right:auto;
    width:70%;
    border:1px solid #5C6A77;
    margin-bottom: 25px;
}

#form-header{
    background:#5C6A77;
    color:white;
    height: 67px;
}

#form-header{
    padding: 1px 25px 1px 25px;
}

#form-header .today-date{
    padding: 26px 1px 26px 1px;
}

#form-header h2{
    float: left;
}

.today-date{
    float:right;
}

#form-body{
    padding:1px 25px 1px 25px;
}

#formulario .form-actions{
    float:right; margin-bottom:20px;
}

#formulario .form-actions i{
    vertical-align: middle
}

#formulario md-tabs{
    width:100%;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar{
    background: rgb(39,39,69);
}

/*Menu do header*/
#topNav button{
    color:#fff;
}

md-menu-item md-icon{
    width:auto;
}

.capitalize{
    text-transform: capitalize;
}

#menu-mobile{
    margin-top:35px;
}

#menu-mobile a{
    text-decoration: none !important; 
    color:#222;
}

#menu-mobile .md-subheader{
    margin-top:10px;
    margin-bottom: -15px;
}

a{
    text-decoration: none !important; 
    color:#222;
}

.badge{
    bottom: 6px;
    position: relative;
}

#conteudo md-card-title {
    max-height: 90px;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.3s;
}

.col-50{
    display: inline-block;
    width: 48%;
}

.search-btn{
    fill:#dee0e3;
}
.search-btn ng-md-icon{
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

.search-input{
    display: flex;
    justify-content: center;
}

@media (max-width: 960px) {
    .col-50{
        width: 100%;
    }
    #formulario h2{
        margin-left:auto;
        margin-right:auto;
    }
}